Repository xcodeBn/hr-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/api/eslint.config.mjs, prettier --write, eslint --fix --config apps/web/eslint.config.js

.lintstagedrc.json:

{
  "apps/api/**/*.ts": [
    "eslint --fix --config apps/api/eslint.config.mjs",
    "prettier --write"
  ],
  "apps/web/**/*.{ts,tsx}": [
    "eslint --fix --config apps/web/eslint.config.js",
    "prettier --write"
  ],
  "packages/contracts/**/*.ts": ["prettier --write"],
  "packages/database/**/*.ts": ["prettier --write"]
}

chore: move auth guard file
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/guards/auth.guard.ts
  apps/api/src/auth/guards/roles.guard.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

chore: cleanup swagger decorators
  apps/api/src/auth/auth.controller.ts
  apps/api/src/organizations/organizations.controller.ts
  packages/contracts/src/organizations/organization-list.schema.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: add timezone management and related schemas
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/copilot.data.migration.ask2agent.xml
  .idea/dataSources.xml
  .idea/data_source_mapping.xml
  .idea/hr-app.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
  .idea/webResources.xml
  apps/web/lib/timezone.ts
  apps/web/package.json
  package-lock.json
  packages/contracts/src/users/index.ts
  packages/contracts/src/users/update-timezone.schema.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: implement organization access guard for user role validation
  apps/api/src/auth/guards/organaization-access-gaurd.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: extend employment model with job titles and department relations
  packages/database/prisma/schema.prisma
Due: none

feat: enhance database schema with attendance and work schedule models, and add audit log functionality
  packages/database/prisma/schema.prisma
Due: none

feat: update database schema with new work schedule models and relationships
  packages/database/prisma/schema.prisma
Due: none

feat: update organization access guard to allow ORG_ADMIN role access
  apps/api/src/auth/guards/organaization-access-gaurd.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: implement organization admin guard for access control and management validation
  apps/api/src/auth/guards/organaization-admin-gaurd.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: integrate Swagger for API documentation and add new user schema
  apps/api/package.json
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/branches/branches.controller.spec.ts
  apps/api/src/branches/branches.service.spec.ts
  apps/api/src/job-titles/job-titles.controller.ts
  apps/api/src/main.ts
  apps/api/src/work-schedules/work-schedules.controller.ts
  apps/api/test/branches.e2e-spec.ts
  apps/api/test/jest-e2e.json
  package-lock.json
  packages/contracts/src/users/user.schema.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: add signup endpoint for organization admins with validation
  .idea/data_source_mapping.xml
  .idea/sqldialects.xml
  apps/api/package.json
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/main.ts
  package-lock.json
  packages/contracts/src/auth/index.ts
  packages/contracts/src/auth/signup-org-admin.request.ts
  packages/contracts/src/auth/signup-org-admin.response.ts
  packages/contracts/src/users/index.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: add suspend functionality for organizations with confirmation dialog
  apps/api/nest-cli.json
  apps/api/src/organizations/organizations.controller.ts
  apps/api/src/organizations/organizations.service.ts
  apps/web/app/(authenticated)/organizations/[id]/page.tsx
  apps/web/hooks/use-organizations.ts
  packages/database/prisma/migrations/20260205132543_org_admin/migration.sql
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: add pending approval page for organization admins and update user response with organization data
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/web/app/(authenticated)/pending-approval/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/ui/alert.tsx
  packages/contracts/src/users/user.response.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write, eslint --fix --config apps/web/eslint.config.js

docs: improve quick start readme
  README.md
Due: none

feat: update organization website validation to allow empty string as a valid input
  packages/contracts/src/auth/signup-org-admin.request.ts
Due: prettier --write

chore: add web app sample env file
  README.md
  apps/web/.env.example
  apps/web/.gitignore
Due: none

feat: update job title relation to restrict deletion and remove TypeScript ignore comments
  apps/web/app/(authenticated)/pending-approval/page.tsx
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: add comprehensive organization seeding and employee management components
  apps/web/app/(authenticated)/employees/directory/page.tsx
  apps/web/app/(authenticated)/employees/manage-employees/page.tsx
  apps/web/app/(authenticated)/employees/org-chart/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/ui/collapsible.tsx
  apps/web/package.json
  package-lock.json
  packages/database/package.json
  packages/database/prisma/seeders/index.ts
  packages/database/prisma/seeders/seedComprehensiveOrg.ts
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: add employee detail and list response schemas with validation
  packages/contracts/src/common/index.ts
  packages/contracts/src/common/pagination.schema.ts
  packages/contracts/src/employees/employee-detail.response.ts
  packages/contracts/src/employees/employee-list.response.ts
  packages/contracts/src/employees/employee-status.schema.ts
  packages/contracts/src/employees/index.ts
  packages/contracts/src/index.ts
  packages/database/prisma/schema.prisma
Due: prettier --write

feat: implement employee access control with AllowSelf decorator and organization guard
  apps/api/src/app.module.ts
  apps/api/src/auth/decorators/allow-self.decorator.ts
  apps/api/src/auth/decorators/index.ts
  apps/api/src/auth/guards/employee-organization.guard.ts
  apps/api/src/auth/guards/self-or-admin.guard.ts
  apps/api/src/employees/employees.controller.ts
  apps/api/src/employees/employees.module.ts
  apps/api/src/employees/employees.service.ts
  packages/database/prisma/migrations/20260205234055_initial_employees_migration/migration.sql
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: simplify employee access control by removing SelfOrAdminGuard and adjusting roles
  apps/api/src/employees/employees.controller.ts
  apps/api/src/employees/employees.module.ts
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write

feat: implement employee management page with detail view and loading states
  apps/web/app/(authenticated)/employees/manage-employees/[id]/page.tsx
  apps/web/app/(authenticated)/employees/manage-employees/page.tsx
  apps/web/app/(authenticated)/employees/page.tsx
  apps/web/hooks/use-employees.ts
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: add sortable headers to employee table for improved data organization
  apps/web/app/(authenticated)/employees/manage-employees/page.tsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat(database): add employee management, attendance, and audit logging models
  .idea/vcs.xml
  .idea/workspace.xml
  packages/database/prisma/schema.prisma
Due: none

feat(permissions): implement roles and permissions management module with decorators and services
  .gitignore
  .idea/workspace.xml
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/decorators/index.ts
  apps/api/src/auth/decorators/require-permission.decorator.ts
  apps/api/src/auth/guards/permissions.guard.ts
  apps/api/src/auth/permissions-check.service.ts
  apps/api/src/organizations/organizations.controller.ts
  apps/api/src/organizations/organizations.module.ts
  apps/api/src/organizations/organizations.service.ts
  apps/api/src/permissions/permissions.controller.ts
  apps/api/src/permissions/permissions.module.ts
  apps/api/src/permissions/permissions.service.ts
  apps/api/src/roles/roles.controller.ts
  apps/api/src/roles/roles.module.ts
  apps/api/src/roles/roles.service.ts
  packages/contracts/src/index.ts
  packages/contracts/src/roles/index.ts
  packages/contracts/src/roles/permission-access.schema.ts
  packages/contracts/src/roles/role.request.ts
  packages/contracts/src/roles/role.response.ts
  packages/database/prisma/schema.prisma
  packages/database/schema.sql
Due: eslint --fix --config apps/api/eslint.config.mjs, prettier --write
